<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina dosI</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Cap 2.</h1>
    <h2>Cap 2.1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero enim maxime, accusantium deleniti exercitationem voluptate consectetur, alias nulla repudiandae omnis soluta perferendis blanditiis. Labore delectus nihil architecto reprehenderit impedit sed?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ea expedita facilis. Alias delectus maiores, sit distinctio at laboriosam quo consectetur voluptatem quod itaque, voluptatibus facere, minus voluptate suscipit inventore.</p>

    <p><a href="index.html">Voltar HOME</a></p>

</body>
</html>