@charset "UTF-8";

body{
    background-color:wheat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}
h1{
    color:blueviolet;
    /* background-color: green; */

}
h2{
    color: chartreuse;
    /* background-color: violet; */

}
p{
    text-align: justify;
}

